@model Betriebsmittelverwaltung.Models.Retourenverwaltung

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Retourenverwaltung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kaufdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kaufdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wartungsintverall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wartungsintverall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verfügbar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verfügbar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
